.background{
    background-image: url('flat-design-traditional-native-american-pattern_23-2149188294.avif');
    height: 100%;
    border-top: 13px;
    border-style: solid;
    border-color:firebrick;
}
header{
    background-color:firebrick;    
    float:left;
    width: 100%;
    padding-bottom: 8px;    
}
header h1{
    float:left;
    font-family: "papyrus", fantasy;
    font-size: 55px;
    color:bisque;
}

header ul{
    float:right;
    text-transform: uppercase;
    font-family: "Lucida Console", "Courier New", monospace;
    
}

a {
    color: bisque;
}


.carousel-caption h1{
    color:floralwhite;
}

.red-text strong{
    color:cyan;
}

/* to resize the image inside the carousel */
img {
    width: 1000px;
    height: 610px;
    object-fit: cover;    
}
/* to resize/style the carousel */
#carouselCaptions .carousel-inner {
    border-top: 10px;
    border-left: 12px;
    border-right: 12px;
    border-bottom: 10px;
    border-color:black;
    border-style:ridge;

    width: 900px;
    height: 610px;
    margin-top: 15px;
    margin-bottom: 18px;

}

#carouselCaptions {   /*centers the carousel*/
    margin-left: auto;
    margin-right: auto;
}

/* spefically resizes the image: bow4 */
img[alt="bow4"] {
    width: 1100px;
    height: 900px;
    object-fit: cover;
}

footer{
    display:flex;        
    padding: 30px;
    background-color:firebrick;
    color:beige;
    height: auto;
    width: 100%;
    margin-top: -3px;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    font-family: "papyrus", fantasy;
    font-size: 55px;
    color:bisque;
    position: relative;
    padding-top: 0;
    
}

.hr-header{
    border: 0;
    height:5px;
    background-image:linear-gradient(to right, rgb(255, 255, 255), rgb(240, 240, 240), rgb(180, 180, 180), rgb(90, 90, 90));
    margin-top: 0;
    
}
.hr-footer{
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgb(120, 120, 120), rgb(240, 240, 240), rgb(255, 255, 255), rgb(240, 240, 240), rgb(120,120,120));
    margin-top: 0;
}

.icons{
    list-style: none; /*removes the bullets*/
    display: flex; /*displays the icons going across*/
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    margin-top: 50px;


}

.icons li {
    margin: 0 20px; /*space between the elements in the list*/
}

li a{
    text-decoration: none; /*gets rid of the 2 dots between fb icon*/
    border: 2.3px solid bisque; /*borders around the icons*/
    padding: 6px;
    border-radius: 30%;
    width: 64px;
    
    
}

img[alt='logo']{
    float: left;
    width: 100px;
    height: 100px;
    border: 2.5px solid bisque;
    border-radius: 50%;
    margin-right: 10px
}

.footer-content p {
    font-size: 20px;
    font-family: "Lucida Console", "Courier New";
    text-align: center;
}










    











