.background{
    background-image: url('flat-design-traditional-native-american-pattern_23-2149188294.avif');
    height: 100%;
    border-top: 13px;



    border-style: solid;
    border-color:firebrick;
}
header{
    background-color:firebrick;
    
    float:left;
    width: 100%;
    padding-bottom: 30px;    
}
header h1{
    float:left;
    font-family: "papyrus", fantasy;
    font-size: 55px;
    color:bisque;
}

header ul{
    float:right;
    text-transform: uppercase;
    font-family: "Lucida Console", "Courier New", monospace;
    
}

a {
    color: bisque;
}


.carousel-caption h1{
    color:floralwhite;
}

.red-text strong{
    color:cyan;
}

/* to resize the image inside the carousel */
img {
    width: 1000px;
    height: 600px;
    object-fit: cover;    
}
/* to resize/style the carousel */
#carouselCaptions .carousel-inner {
    border-top: 10px;
    border-left: 12px;
    border-right: 12px;
    border-bottom: 10px;
    border-color:black;
    border-style: solid;
    border-radius: 3%;
    width: 900px;
    height: 600px;
    margin-top: 18px;

}

#carouselCaptions {
    margin-left: auto;
    margin-right: auto;
}

/* spefically resizes the image: bow4 */
img[alt="bow4"] {
    width: 1100px;
    height: 900px;
    object-fit: cover;
}

footer{
    display:flex;        
    padding: 100px;
    background-color:firebrick;
    color:beige;
    height: auto;
    width: 100%;
    margin-top: 25px;

}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    

}

hr{
    border: 0;
    height: 3px;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(244, 242, 228, 0.75), rgba(0, 0, 0, 0));
}









